.sd_catItemList{
    background: var(--card_color);
    border-radius: 8px;
    padding: 20px;
    padding-bottom: 0;
    flex-direction: column;

    .sd_catItemListMain{
        gap: 35px;
        overflow-x: auto;
        padding-bottom: 20px;

        .sd_catItem{
            --item-size: 105px;
            width: var(--item-size);
            overflow: hidden;
            min-width: 0;
            display: flex;
            flex-direction: column;
            gap: 8px;
            align-items: center;
            
            .sd_catThumb{
                aspect-ratio: 1;
                overflow: hidden;
                border-radius: 100%;
                border: 5px solid #ffffff;
                width: calc(100% - 10px);

                img{
                    width: 100%;
                    height: 100%;
                    object-position: center center;
                    object-fit: cover;
                    transition: transform ease 0.3s;
                    transform: scale(1);
                }
            }
            .sd_catTitle{
                color: var(--text_color);
                font-weight: 400;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-size: 12px;
            }
        }

        .sd_catItem:hover img{
            transform: scale(1.3);
        }
    }
}


.sd_homeSectionLabel{
    color: var(--primary_color);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    padding-bottom: 20px;
    width: 100%;
}