.MenuListItem{
    padding: 8px 12px;
    cursor: pointer;
    color: #333;
    font-weight: normal;
    width: 100%;
    display: block;
    font-size: 14px;
    line-height: 18px;
    transition: color ease 0.3s , background ease 0.3s;
    border-radius: 5px;
    margin-bottom: 8px;
}

.MenuListItem:hover{
    color: #000;
}

.MenuListItem.active,.MenuListItem:hover{
  background: var(--selected_bg);
  color: var(--primary_color);
}

.sdSidebarLabel{
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-weight: 600;
    padding: 10px 5px;
    border-bottom: 1px solid #eaeaea;
    width: 100%;
}
