*,*::before,*::after{
  box-sizing: border-box;
}

.smShop{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 2rem;
  padding: 40px 0;
}

.smCatSidebar{
  width: 100%;
  flex:0 0 100%;
  background: var(--card_color);
  border-radius: 8px;
  padding: 10px;
}
.ProductListWrapper{
  width: 100%;
}
.ProductsWrapper{
  width: 100%;
  height: 100%;
  background: var(--card_color);
  border-radius: 8px;
  padding: 10px 20px;
}
.productsLabel{
  font-size: 20px;
  line-height: 34px;
  font-weight: 500;
  padding-bottom: 12px;
  color: var(--primary_color);
}

.smProductsCount{
  font-size: 10px;
}

.smProductsGrid{
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fill,250px);
  align-content: center;
  justify-content: center;
}

.smProductsActionBtns{
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  opacity: 0;
  transition: ease 0.3s;
}

.ProductBtn{
  --item-size: 35px;
  background: #fff;
  width: var(--item-size);
  height: var(--item-size);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  padding: 0;
  border: 0;
}
.ProductBtn:hover{
  background: #eaeaea;
}
.ProductItem:hover .smProductsActionBtns{
  opacity: 1;
}
.ProductItem:hover{
  color: inherit;
}
.ProductBtn i::before{
  vertical-align: middle !important;
}
.ProductThumb{
  margin-bottom: 10px;
  height: 200px;
  overflow: hidden;
  transition: ease 0.1s;
  transform: scale(1);
}

.ProductThumb img{
  max-width: 100%;
  height: auto;
  object-position: top;
  transition: ease 0.1s;
  transform: scale(1);
}
.ProductThumb:hover img{
  transform: scale(1.2);
}
.ProductTitle{
  font-size: 14px;
  font-weight: 400;
}

.ProductLocation{
  color: #999999;
  font-size: 12px;
  line-height: 19px;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.ProductAmount{
  font-weight: 600;
}

.smWishlistBtn.active{
  color: #ffffff;
  background: var(--secondary_color);
}

.smcartCount{
  font-size: 10px;
  width: 15px;
  height: 15px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  background: var(--secondary_color);
  border-radius: 50%;
  color: #fff;
  position: absolute;
  top: -5px;
  right: -5px;
}
.smcartBtn{
  background: #eaeaea;
  color: #333;
}
.smcartBtn.active{
  color: #ffffff;
  background: green;
}

.ProductItem{
    border: 1px solid #ededed;
    padding: 12px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    overflow: hidden;
    color: inherit;
}
.dropdown-menu{
  transform-origin: center top;
  max-height: 500px !important;
  overflow-y: auto;
  animation: 300ms ease-in-out 0s 1 normal forwards running growDown;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%),0 2px 4px -2px rgb(0 0 0 / 10%);
  border-radius: .5rem !important;
  border: 1px solid #ebebeb;
}
@keyframes growDown {
  0% {
    transform:scaleY(0)
  }
  80% {
    transform:scaleY(1.1)
  }
  100% {
    transform:scaleY(1)
  }
}
.MenuListItem.active{
  color: var(--primary_color);
}
@media screen and (min-width:768px) and (max-width: 991px) {
  .smProductsGrid {
    grid-template-columns: repeat(3,1fr);
  }
}
@media(min-width:992px) {
  .smShop{
    flex-direction: row;
  }
  .smProductsGrid{
    grid-template-columns: repeat(3,1fr);
  }
  .smCatSidebar{
    width: 200px;
    flex:0 0 200px;
    min-height: 200px;
  }
  .ProductListWrapper{
    width: calc(100% - 200px);
    margin-left: auto;
  }
}