:root {
  --primary_color: #40a060;
  --secondary_color: #375dce;
  --text_color: #212529;
  --heading_color: #333;
  --page_color: #f2f2f2;
  --card_color: #fff;
  --line_color: #eaeaea;
  --selected_bg: #ebf5ef;
}

*, ::after, ::before {
    box-sizing: border-box;
}
body {
  margin: 0;
  min-height: 100vh;
  font-family: "Ubuntu", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--text_color);
  background-color: var(--page_color);
  font-weight: 400;
  font-style: normal;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-sdoothing: antialiased;
  -moz-osx-font-sdoothing: grayscale;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
a {
  font-weight: 500;
  color: var(--secondary_color);
  text-decoration: inherit;
  border: 0;
  outline: 0;
}
a:hover {
  color: var(--primary_color);
}
.sd_text-primary{
  color: var(--primary_color);
}
.sd_text-secondary{
  color: var(--secondary_color);
}
button,.btn {
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 0.5em 1.2em;
  font-size: 14px;
  font-weight: 400;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  text-align: center;
}
button:hover {
  border-color: #646cff;
}
.btn-primary,.btn-secondary:hover{
  background-color: var(--primary_color);
  border-color: var(--primary_color);
  color: #fff;
}
.btn-primary:hover,.btn-secondary{
  background-color: var(--secondary_color);
  border-color: var(--secondary_color);
}


button:focus, button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.dropdown-item.active, .dropdown-item:active{
  color: var(--primary_color);
  background-color: var(--selected_bg);
  background: var(--selected_bg);
}
.dropdown-menu{
  transform-origin: center top;
  max-height: 500px !important;
  overflow-y: auto;
  animation: 300ms ease-in-out 0s 1 normal forwards running growDown;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%),0 2px 4px -2px rgb(0 0 0 / 10%);
  border-radius: .5rem !important;
  border: 1px solid #ebebeb;
}
@keyframes growDown {
  0% {
    transform:scaleY(0)
  }
  80% {
    transform:scaleY(1.1)
  }
  100% {
    transform:scaleY(1)
  }
}

@media screen and (min-width:768px) and (max-width: 991px) {
  .container{
    max-width: 960px;
  }
}