.ui_logowrapper{
    flex: 0 0 auto;
    width: auto;
}
.sd_logo{
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
}
header{
    background: var(--card_color);
}
header .nav-link{
    color: var(--text_color);
    font-size: 0.75rem;
    padding: var(--bs-nav-link-padding-y) 0.75rem;
}
.dropdown-item{
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 0.875rem;
}

.sd_products_searchWrapper{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: 1px solid #eaeaea;
    border-radius: 30px;
    padding: 8px 14px;
    max-width: 200px;
    width: 100%;
    overflow: hidden;
    font-size: 14px;
}
.sd_products_search{
    border: 0;
    outline: none;
    box-shadow: none;
    padding: 0;
    max-width: calc(100% - 20px);
    background: transparent;
}

.nav-link.active,.nav-link:hover,.nav-link:focus{
    color: var(--primary_color);
}

.sd_searchResultsWrapper{
    transform-origin: center center;
    overflow: hidden;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%),0 2px 4px -2px rgb(0 0 0 / 10%);
    border-radius: .5rem !important;
    border: 1px solid #ebebeb;
    padding: 0;
    width: 100%;
    font-size: 14px;
    z-index: 2;
    max-width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    margin: auto;
    max-height: 100%;
    width: 100%;
    height: 100%;
    background-color: #0000009e;
}

.sd_searchResults{
    position: absolute;
    background-color: #fff;
    max-width: 750px;
    margin: 0 auto;
    max-height: 600px;
    border-radius: 12px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.sd_searchResultsHead{
    padding: 10px 14px;
    border-bottom: 1px solid #f2f2f2;
}
.sd_searchResultsHead .sd_products_searchWrapperInner{
    width: 100%;
    border: 0;
    border-radius: 0;
    padding: 0 5px;
    max-width: 100%;
}
.sd_products_searchWrapperInner .sd_products_search{
    max-width: 100%;
    width: 100%;
}
.sd_searchResultsList{
    display: block;
    width: 100%;
    padding: 0;
    max-height: calc(100% - 45px);
    overflow: hidden;
    overflow-y: auto;
    position: relative;
    height: 100%;
}
.sd_searchResultsListLabel{
    font-size: 12px;
    padding: 10px 15px;
    margin-bottom: 0;
}
.sd_searchResultsListItem{
    width: 100%;
    padding: 5px 14px;
    text-align: left;
    background-color: #fff;
    cursor: pointer;
    display: flex;
    gap: 6px;
    align-items: center;
    border-bottom: 1px solid #fafafa;
    color: var(--text_color);
    font-weight: 400;
    max-width: calc(100% - 25px);
    margin: 0 auto;
}
.sd_searchResultsListItem:hover{
    background-color: var(--selected_bg);
}

.sd_searchResultsListItemThumb{
    width: 35px;
    height: 35px;
    flex: 0 0 auto;
    overflow: hidden;
}

.sd_searchResultsListItemThumb img{
    max-width: 100%;
    height: auto;
}

.sd_searchResultsListItemTitle{
    width: calc(100% - 35px);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.sd_navbarClose{
    position: absolute;
    right: 12px;
    top: 9px;
    cursor: pointer;
}
.sd_navbarClose:hover{
    color: var(--primary_color);
}
.sd_emptyResultsWrapper{
    position: absolute;
    width: 100%;
    height: calc(100% - 45px);
    background: #fff;
    top: 0;
}
.sd_emptyResults{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    padding: 0 16px;
    text-align: center;
}
.sd_searchResultsClose{
    --item-size: 20px;
    width: var(--item-size);
    height: var(--item-size);
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    position: absolute;
    right: -25px;
    top: 0px;
    cursor: pointer;
}
.sd_searchResultsClose:hover{
    background-color: var(--selected_bg);
    color: var(--primary_color);
}
@media screen and (min-width: 768px) {

}
@media(min-width:992px){
    
}

@media(min-width:1200px){
    .ui_nav_searchwrapper{
        max-width: 200px;
    }
}
@media(max-width:1199px){
    .navbar-expand-xl .nav{
        display: flex;
        flex-direction: column;
        padding-top: 12px;
    }
    .navbar-expand-xl .dropdown-menu{
        width: 100%;
        border: unset;
        position: relative;
        background-color: inherit;
        color: inherit;
        border: unset;
        top: unset;
        left: unset;
        padding-top: 0;
        padding-bottom: 0;
    }
    .navbar-expand-xl .nav-link{
        padding-left: 0;
        padding-right: 0;
    }
    
}
@media(max-width:767px){
    .navbar-expand-md .nav{
        display: flex;
        flex-direction: column;
        padding-top: 12px;
        max-height: calc(100% - 65px);
        overflow: hidden;
        overflow-y: auto;
    }
    .navbar-expand-md .dropdown-menu{
        width: 100%;
        border: unset;
        position: relative;
        background-color: inherit;
        color: inherit;
        border: unset;
        top: unset;
        left: unset;
        padding-top: 0;
        padding-bottom: 0;
    }
    header .navbar-expand-md .nav-link{
        text-align: left;
        border-bottom: 1px solid #efefef;
        padding: 0.75rem 1rem;
    }
    .navbar-expand-md .nav-item:last-child .nav-link{
        border-bottom: 1px solid transparent;
    }
    .sd_products_searchWrapper{
        max-width: 100%;
        width: 100%;
        overflow: hidden;
        margin: 0.75rem 0;
    }
    header .navbar-collapse {
        position: fixed;
        top: 0;
        background: #fff;
        width: 100%;
        left: 0;
        border: 1px solid #eaeaea;
        overflow: hidden;
        border-radius: 8px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        z-index: 2;
        height: 100%;
    }

    .navbar-expand-md .nav .nav-item{
        width: 100%;
    }


}