.sd_productPage{
    padding: 40px 0;
}
.sd_product_gallery{
    display: flex;
    flex-direction: column;
    border: 1px solid var(--line_color);
    padding: 0;
    border-radius: 8px;
    width: 100%;
    flex: 0 0 100%;
}
.sd_product_img{
    border-bottom: 1px solid var(--line_color);
    padding: 16px;
}
.sd_product_content{
    width: 100%;
    flex: 0 0 100%;
    padding: 16px 24px;
}
.sd_prod_list{
    display: flex;
    align-items: flex-start;
    gap: 12px;
    width: 100%;
    overflow-x: auto;
    padding: 10px 16px;
}

.sd_img_thumb{
    border: 1px solid transparent;
    padding: 4px;
    border-radius: 5px;
    width: 65px;
    height: 50px;
    object-position: center;
    cursor: pointer;
}
.sd_img_thumb.active,.sd_img_thumb:hover{
    border-color: var(--primary_color);
}
.sd_productPageMain{
    background: var(--card_color);
    border-radius: 8px;
    padding: 24px 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.breadcrumb{
    font-size: 12px;
}
.breadcrumb-item{
    max-width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.sd_product_title{
    font-size: 18px;
    line-height: 1.5;
}
.sd_product_amount{
    font-size: 28px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
}
.sd_product_amt{
    font-size: 16px;
    text-decoration: line-through;
    color: #5f5f5fbf;
}
.sd_product_discount{
    font-size: 16px;
    color: var(--primary_color);
}
.sd_product_rating{
    background-color: var(--primary_color);
    color: #fff;
    padding: 3px 8px;
    border-radius: 30px;
    font-size: 12px;
    display: inline-flex;
    align-items: center;
    gap: 4px;
}
.sd_product_rating .bi{
    font-size: 10px;
    position: relative;
    top: -1px;
}
.sd_product_review{
    font-size: 14px;
}
@media(min-width: 768px){
    .sd_product_gallery{
        width: 350px;
        flex: 0 0 350px;
    }
    .sd_product_content{
        flex: 1;
    }
    .sd_productPageMain{
        flex-direction: row;
    }
}