.sd_pageHero{
    .swiper-slide {
        border-radius: 8px;
        overflow: hidden;
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat;
        display: flex;
        align-items: flex-start;
        padding: 15px 5vw;

        img{
            max-width: 100%;
            width: 100%;
            height: 100%;
            object-fit: cover;
            aspect-ratio: 16/4;
            object-position: top;
            overflow: hidden;
        }
        .sd_BannerInfo{
            text-align: left;
            max-width: 100%;
            margin: auto 0;
            height: auto;
            width: 100%;

            .sd_BannerTitle{
                font-size: calc(4vh - 10px);
            }
            .sd_BannerDesc{
                font-size: 14px;
                font-weight: 300;
                padding-top: 5px;
            }
            .sd_BannerBtn{
                background-color: #000;
                color: #fff;
                padding: 12px 14px;
                text-align: center;
                line-height: 1;
                border-radius: 2px;
                font-weight: 400;
                font-size: 14px;
                min-width: 150px;
                display: inline-block;
            }
        }
    }
    .swiper-slide:nth-child(1),.swiper-slide:nth-child(3){
        color: #fff;
    }
    .swiper-button-next{
        right: 0;
        border-radius: 6px 0 0 6px;
    }

    .swiper-button-prev{
        left: 0;
        border-radius: 0 6px 6px 0;
    }

    .swiper-button-next, .swiper-button-prev {
        background-color: #fff;
        color: #000;
        font-size: 14px;
        aspect-ratio: 2/3;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .swiper-button-next svg, .swiper-button-prev svg{
        --item-size: 12px;
        width: var(--item-size);
        height: var(--item-size);
        stroke-width: 1px;
        stroke: #5d5d5d;
    }

    .swiper-pagination-bullet {
        background: #fff;
    }
    .swiper-pagination-bullet-active {
        background: var(--primary_color);
    }
    

} 

@media (max-width: 480px){
    .sd_pageHero {
        .swiper-button-next, .swiper-button-prev {
            width: 25px;
            aspect-ratio: 1;
        }
        .swiper-button-next svg, .swiper-button-prev svg{
            --item-size: 10px;
        }
    }
    
}

@media (min-width: 768px){
    .sd_pageHero{
        .swiper-slide {
            aspect-ratio: 16/4;
            .sd_BannerInfo{
                max-width: 50%;
                
                .sd_BannerTitle{
                    font-size: calc(5vh - 10px);
                }
            }
        }
    }
}