.sd_pageHero{
    .swiper-slide {
        border-radius: 8px;
        overflow: hidden;

        img{
            max-width: 100%;
            width: 100%;
            height: 100%;
            object-fit: cover;
            aspect-ratio: 16/4;
            object-position: top;
            overflow: hidden;
        }
        .sd_BannerInfo{
            position: absolute;
            top: 50%;
            left: 100px;
            transform: translate(0,-50%);
            text-align: left;
            max-width: 600px;
            margin: 0 auto;

            .sd_BannerTitle{
                font-size: 2rem;
            }
            .sd_BannerDesc{
                font-size: 12px;
                font-weight: 300;
            }
            .sd_BannerBtn{
                background-color: #000;
                color: #fff;
                padding: 8px 14px;
                text-align: center;
                line-height: 1;
                border-radius: 4px;
                font-weight: 400;
                font-size: 14px;
                min-width: 150px;
            }
        }
    }
    .swiper-button-next{
        right: 0;
        border-radius: 6px 0 0 6px;
    }

    .swiper-button-prev{
        left: 0;
        border-radius: 0 6px 6px 0;
    }

    .swiper-button-next, .swiper-button-prev {
        background-color: #fff;
        color: #000;
        font-size: 14px;
        aspect-ratio: 2/3;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .swiper-button-next svg, .swiper-button-prev svg{
        --item-size: 12px;
        width: var(--item-size);
        height: var(--item-size);
        stroke-width: 1px;
        stroke: #5d5d5d;
    }

    .swiper-pagination-bullet {
        background: #fff;
    }
    .swiper-pagination-bullet-active {
        background: var(--primary_color);
    }
    

} 

@media (max-width: 480px){
    .sd_pageHero {
        .swiper-button-next, .swiper-button-prev {
            width: 25px;
            aspect-ratio: 1;
        }
        .swiper-button-next svg, .swiper-button-prev svg{
            --item-size: 10px;
        }
    }
    
}