.sd_pageHero{
    .swiper-slide {
        border-radius: 8px;
        overflow: hidden;

        img{
            max-width: 100%;
            width: 100%;
            height: 100%;
            object-fit: cover;
            aspect-ratio: 16/4;
            object-position: top;
            overflow: hidden;
        }
    }
    .swiper-button-next{
        right: 0;
        border-radius: 6px 0 0 6px;
    }

    .swiper-button-prev{
        left: 0;
        border-radius: 0 6px 6px 0;
    }

    .swiper-button-next, .swiper-button-prev {
        background-color: #fff;
        color: #000;
        font-size: 14px;
        aspect-ratio: 2/3;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .swiper-button-next svg, .swiper-button-prev svg{
        --item-size: 12px;
        width: var(--item-size);
        height: var(--item-size);
        stroke-width: 1px;
        stroke: #5d5d5d;
    }

    .swiper-pagination-bullet {
        background: #fff;
    }
    .swiper-pagination-bullet-active {
        background: var(--primary_color);
    }
    

} 

@media (max-width: 480px){
    .sd_pageHero {
        .swiper-button-next, .swiper-button-prev {
            width: 25px;
            aspect-ratio: 1;
        }
        .swiper-button-next svg, .swiper-button-prev svg{
            --item-size: 10px;
        }
    }
    
}